.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Start-Game-button {
  margin-right: 10%;
}
.exploring-buttons {
  margin: 1%;
}
.exploring-section-top {
  border: 2;
  background-color: aquamarine;
  outline: #282c34;
}
.exploring-logs {
  font-style: italic;
}
